body {
    background-image: url("https://media.istockphoto.com/id/151548394/photo/vintage-clip-art.jpg?s=170667a&w=0&k=20&c=ajpOCl0UsAuhMrKH0P_9Zg5Wr_3KeqqLsc5dvAIOZV8=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    /* width: 80%; */
    text-align: center;
    border: 4px solid rgb(72, 3, 72);
    background-image: url("https://www.hdwallpapers.in/download/brown_sand_dune_hd_brown_aesthetic-1920x1080.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 70px;
    margin-bottom: 60px;
}

header h2 {
    color: white;
    text-shadow: 2px 2px rgb(6, 1, 0);
    font-size: 40px;
}

header h2:hover {
    font-size: 42px;
}

strong {
    font-size: 35px;
    color: rgb(61, 2, 2);
}

.container {
    text-align: center;
}

.container-content {
    display: flex;
    flex-direction: column;
}

.text {
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(130deg, rgb(216, 178, 148), rgb(137, 92, 44), rgb(211, 165, 129), rgb(140, 100, 58));
}

.text:hover{
    box-shadow: 2px 2px 10px black;
}

.text p {
    padding-left: 20px;
    font-size: 30px;
    text-align: justify;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.text img {
    width: 500px;
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px rgb(137, 48, 21);
}

.text a {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;
    color: rgb(252, 18, 18);
    font-weight: bold;
}

.text a:hover {
    font-size: 27px;
    color: rgb(151, 22, 22);
}

h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: rgb(22, 0, 41);
}

audio {
    padding-bottom: 40px;
}

footer {
    text-align: center;
    border: 4px solid rgb(61, 22, 2);
    background-image: url("https://www.hdwallpapers.in/download/brown_sand_dune_hd_brown_aesthetic-1920x1080.jpg");
    border-radius: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    padding: 10px;
    font-size: 40px;
}

hr{
    margin: 20px;
    width: 10%;
    height: 2px;
    background-color: black;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}